@import 'bootstrap';
@import 'owl.carousel';
@import 'owl.theme';

$red: #A00D03;
$orange: #D52901;
$black: #333333;
$white: #ffffff;
$off-white: #f8f8f8;
$light-gray: #727272;
$hfont: 'Righteous';
$pfont: 'Muli';

/* Box Styles */

* {
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
	font-size: 16px;
}

img {
	border-radius: 4px;
}

nav li {
	height: 100%;
	font-family: $hfont, arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	}

.jumbotron {

	h2 {
		margin-bottom: 20px;
		font-size: 3.6em;
		color: $red;
		text-align: center;
	}

	p {
		font-size: 1.5em;
		color: $black;
		text-align: center;
	}
}

.main-content {
	margin-top: 58px;
}

footer {
	font-family: $pfont, sans-serif;
	margin-top: 60px;
	text-align: center;
	color: $red;
	padding-top: 10px;
	padding-bottom: 10px;

	a {
		margin: 0 10px;
	}

	.copyright {
		float: left;
		margin-bottom: 20px;
	}

	.social-group {
		float: right;
		margin-bottom: 20px;
	}
}


.content {
	width: 550px;
	}


.content_tut {
	width: 550px;
	}

.content_tut .steps {
	width: 550px;
	clear: both;
	}

.content_tut .steps img{
	margin-bottom: 15px;
	align: left;
	}

/* Typographic Styles */

h1 {
	font-family: $hfont, Verdana, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $red;
	}

h2 {
	margin: 0;
	padding: 0;
	font-family: $hfont, Verdana, sans-serif;
	font-size: 2em;
	color: $red;
	}

.main-content h2 {
	margin-bottom: 10px;
	border-radius: 4px;
}

.row > h2 {
	margin-left: 10px;
}

h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: $hfont, Verdana, sans-serif;
	font-size: 1.2em;
	color: $red;
}

p, li {
	margin-top: 0;
	font-family: $pfont, arial, sans-serif;
	font-size: 1em;
	color: $black;
	}

p.byline {
	font-size: .8em;
	color: $light-gray;
}

hr {
	width: 860px;
	color: #ffa300;
	}

/* Link Styles */

a {
	color: $red;
	text-decoration: none;
}

a:hover, a:focus {
	color: $light-gray;
}

.teaser a:visited, .teaser a:active {
	color: $light-gray;
}

.teaser a:visited:hover {
	color: $red;
}

/*Button Styles*/

.icon-heart {
	width: 32px;
	height: 32px;
	background: url("../images/icons/icon-heart.svg") no-repeat center;
}

.social-group {
	
	.button {
		display: inline-block;
		margin-right: 16px;
	}

}

.icon-pinterest {
	width: 32px;
	height: 32px;
	background: url("../images/icons/icon-pinterest.svg") no-repeat center;
}

.icon-twitter {
	width: 32px;
	height: 32px;
	background: url("../images/icons/icon-twitter.svg") no-repeat center;
}

.icon-facebook {
	width: 32px;
	height: 32px;
	background: url("../images/icons/icon-facebook.svg") no-repeat center;
}

/*Content Styles*/

img {
	width: 100%;
	height: auto;
}

.teaser {
	position: relative;
	min-height: 160px;
	margin-bottom: 20px;
	padding-bottom: 1.8em;

	p + p {
		max-height: 90px;
		margin-bottom: 1.2em;
		overflow: hidden;
	}

	.thumbnail {
		float: none;
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 10px;
	}

	p + a {
		position: absolute;
		bottom: 5px;
		right: 10px;
	}
}

.col-sm-8 {

	.teaser {
		min-height: 200px;
		border-bottom: 1px solid $red;
	}

	&:last-child {
		border-bottom: none;
	}

	.thumbnail {
		float: left;
		width: 33%;
		min-width: 240px;
		margin-right: 10px;
	}
}

.sidebar .teaser {
	border-bottom: 1px solid $red;
}

.sidebar .ad {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $red;

	img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

.tutorial {
	img {
		width: 100%;
	}
}

article {
	position: relative;
	padding-bottom: 64px;

	.social-group {
		position: absolute;
		bottom: 16px;
		left: 16px;
	}

	.icon-heart {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}

	h3 {
		margin-top: 20px;
	}

	p {
		margin-bottom: 1em;
	}
}


/* Owl Carousel */

.carousel-content {
	position: relative;
	width: 100%;
	min-height: 640px;
	padding: 120px 0;
}

.carousel-copy {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 40px auto 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(to bottom, rgba(248, 248, 248, 0.5), rgba(248, 248, 248, 1));
}

.hero-article1 {
	background-image:url("../images/critiques/creativity-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article2 {
	background-image: url("../images/critiques/astateofwar-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article3 {
	background-image: url("../images/critiques/abduzeedo-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article4 {
	background-image: url("../images/critiques/capradesign-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article5 {
	background-image: url("../images/tutorials/logodesign-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article6 {
	background-image: url("../images/tutorials/cssshapes-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-article7 {
	background-image: url("../images/tutorials/frostedglass-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*JavaScript Styles*/

#slide_show {
	color: #CCC;
	font-family: $pfont, arial;
	text-align: center;
	}
	
#slide_show img{
	margin-right: auto;
	width: 640px;
	height: 480px;
	text-align: center;
	}

#user_controls {
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	}

#gallery_container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	margin-top: 40px;
	}
	
#goback {
	background: url(../images/gallery_btnl.jpg);
	border: none;
	height: 40px;
	width: 40px;
	}

#goforward {
	background: url(../images/gallery_btnr.jpg);
	border: none;
	height: 40px;
	width: 40px;
	}

/* Search Form */

.search-form {

	.search-button {
		float: left;
		max-width: 100px;
		height: 32px;

		font-family: $pfont, arial, sans-serif;
		color: $red;
		text-align: center;
	}

	.search-field {
		clear: left;
		max-width: 180px;
		height: 32px;
		margin-top: 8px;
		padding: 0 16px;
		border: 1px solid $red;
		border-radius: 16px;
		background-image: url("../images/icons/icon-search.svg");
		background-repeat: no-repeat;
		background-position: 8px;
		background-size: 24px;
		text-indent: 20px;
		font-family: $pfont;
	}

}
@media all and (min-width: 0) and (max-width: 768px) {
	.search-form {
		width: 240px; 
		margin: 0 auto;
		.search-field {
			max-width: 768px;
			width: 100%;
		}
	}
}	

@media all and (min-width: 0) and (max-width: 480px) {

	.brand-name {
		display: none;
	}

	footer {

		.copyright {
			float: none;
		}

		.social-group {
			float: none;
		}
	}


	.jumbotron {
		margin-top: 2em;

		h2 {
			font-size: 2em;
		}

		p {
			font-size: 1em;
		}
	}

	.btn-lg {
		font-size: 1em;
		padding: 5px 8px;
	}

	.col-sm-8 {

		.thumbnail {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

}

@media all and (min-width: 481px) and (max-width: 768px) {

	footer {

		.copyright {
			float: none;
		}

		.social-group {
			float: none;
		}
	}

	.jumbotron {

		margin-top: 1em;

		h2 {
			font-size: 3em;
		}

		p {
			font-size: 1.5em;
		}
	}

	.btn-lg {
		font-size: 1.2em;
		padding: 7px 12px;
	}

	.col-sm-8 {

		.thumbnail {
			width: 50%;
			max-width: 240px;
		}
	}

}

@media all and (min-width: 769px) and (max-width: 992px) {


}